html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  line-height: 1;
  font-family: "Mulish", sans-serif;
  color: #373f41;
  font-weight: 700;
  scroll-behavior: smooth;
  overflow-x: hidden;
  transition: all 0.2s linear;
}

.btn {
  background-color: #3c64b1;
  padding: 12px 18px;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 14px;
}

.btn-trans {
  color: #3c64b1;
  border: 1px solid #3c64b1;
  background: none;
  padding: 11px 18px;
  text-align: center;
  letter-spacing: 0.3px;
  font-size: 14px;
  line-height: 18px;
}

.header {
  background: #f3f6fa;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88px;
}
.header-container .header-bars {
  display: none;
}
.header-logo {
  padding-top: 26px;
  padding-bottom: 19px;
}
.header .menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0 32px;
  padding-top: 35px;
  padding-bottom: 35px;
}
.header .menu-link {
  color: inherit;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  font-weight: 600;
}
.header-auth {
  font-weight: bold;
  font-size: 14px;
  align-items: center;
  line-height: 18px;
  letter-spacing: 0.3px;
}
.header-auth .signup {
  color: #fff;
}
.header-auth .signin {
  color: #3c64b1;
  padding: 12px 0;
  margin: 0 20px;
}

@media (max-width: 1023px) {
  .header-container {
    height: 60px;
    font-size: 80%;
  }
  .header-logo {
    padding: 0;
  }
  .header .menu {
    padding: 0;
  }
}
@media (max-width: 767px) {
  .header-container .header-bars {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    cursor: pointer;
  }
  .header-container .header-bars .fa-times {
    transform: rotate(180deg);
    color: #3c64b1;
    transition-duration: 0.2s;
  }
  .header-container .header-bars .fa-user.active {
    color: #3c64b1;
  }
  .header .menu {
    padding: 0;
    position: absolute;
    top: 55px;
    left: 0;
    z-index: 100;
    background: #fff;
    text-align: center;
    right: 0;
    display: block;
    transition: all 0.2s linear;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .menu-link {
    display: block;
    padding: 20px;
  }
  .header .menu.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header-auth {
    position: absolute;
    top: 20%;
    right: -110%;
    transition: all 0.5s linear;
    background: #fff;
    z-index: 100;
  }
  .header-auth.active {
    right: 30px;
  }
}
.home {
  background: url("../image/bg.png");
  min-height: 560px;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-content {
  position: absolute;
  max-width: 730px;
  text-align: center;
}
.home-title {
  font-size: 44px;
  line-height: 56px;
  letter-spacing: 0.2px;
  margin-bottom: 32px;
}
.home-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.3px;
  color: #737b7d;
  margin-bottom: 56px;
}
.home-submit {
  display: flex;
  justify-content: center;
  gap: 0 24px;
  line-height: 16px;
}

@media (max-width: 1023px) {
  .home {
    min-height: 100vh;
  }
  .home-title {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    margin-bottom: 28px;
  }
  .home-desc {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin-bottom: 50px;
  }
  .home-submit {
    gap: 0 22px;
    line-height: 14px;
  }
}
@media (max-width: 768px) {
  .home {
    min-height: 100vh;
  }
  .home-title {
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.1px;
    margin-bottom: 24px;
  }
  .home-desc {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1px;
    margin-bottom: 40px;
  }
  .home-submit {
    gap: 0 18px;
    line-height: 14px;
  }
}
.business {
  text-align: center;
  margin-top: 50px;
}
.business-title {
  margin: 11px auto;
}
.business-heading {
  font-size: 32px;
  letter-spacing: 0.1px;
  line-height: 40px;
  margin-bottom: 24px;
}
.business-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.3px;
  color: #737b7d;
}
.business-content {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
}
.business .column-icon {
  margin-bottom: 24px;
}
.business .column-img {
  display: inline-block;
}
.business .column-text {
  margin-bottom: 12px;
  font-size: 16px;
  letter-spacing: 0.1px;
  line-height: 24px;
}
.business .column-desc {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  font-weight: 400;
  margin-bottom: 22px;
}
.business .column-link {
  color: #3c64b1;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.3;
  padding: 12px 0;
  display: inline-block;
}

@media (max-width: 768px) {
  .business {
    margin-top: 40px;
  }
  .business-heading {
    font-size: 28px;
    letter-spacing: 0.1px;
    line-height: 38px;
    margin-bottom: 22px;
  }
  .business-desc {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
  }
  .business-content {
    margin-top: 18px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    gap: 20px;
  }
  .business .column-text {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .business .column-link {
    font-size: 12px;
    padding: 10px 0;
  }
  .business .column-icon {
    margin-bottom: 20px;
  }
}
@media (max-width: 450px) {
  .business {
    margin-top: 20px;
  }
  .business-heading {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 18px;
  }
  .business-desc {
    font-size: 10px;
    line-height: 14px;
    margin-bottom: 18px;
  }
  .business .column-text {
    margin-bottom: 10px;
    font-size: 12px;
  }
  .business .column-link {
    font-size: 10px;
    padding: 8px 0;
  }
  .business .column-icon {
    margin-bottom: 18px;
  }
  .business .column-img {
    width: 30px;
  }
}
.extend-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 88px 0;
}
.extend-image {
  flex: 1 1 450px;
}
.extend-image .img {
  width: 100%;
}
.extend-content {
  flex: 1 1 450px;
}
.extend .content-heading {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.1px;
}
.extend .content-desc {
  letter-spacing: 0.3px;
  line-height: 22px;
  font-weight: 400;
  font-size: 16px;
  color: #737b7d;
  margin-top: 32px;
}
.extend .content-form {
  margin-top: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.extend .content-input {
  background: #f4f5f4;
  flex: 1;
  padding: 11px 16px;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #737b7d;
}
.extend .content-sub {
  color: #737b7d;
  margin-top: 16px;
  font-weight: 600;
  font-size: 12px;
}
.extend .content-delivery {
  margin-top: 56px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.extend .delivery-desc {
  margin-top: 16px;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.3px;
  font-weight: 400;
  color: #737b7d;
}

@media (max-width: 1023px) {
  .extend-container {
    margin: 70px 0;
  }
}
@media (max-width: 768px) {
  .extend .content-heading {
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.1px;
  }
  .extend .content-desc {
    letter-spacing: 0.2px;
    line-height: 20px;
    font-weight: 400;
    font-size: 14px;
    margin-top: 28px;
  }
  .extend .content-form {
    margin-top: 38px;
    gap: 22px;
  }
  .extend .content-delivery {
    margin-top: 40px;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .extend-container {
    margin: 50px 0;
  }
  .extend-image {
    flex: unset;
  }
  .extend-image .img {
    width: 100%;
  }
  .extend-content {
    flex: unset;
    width: 100%;
  }
  .extend .content-form {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.bottom {
  margin-bottom: 95px;
}
.bottom-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  gap: 30px;
}
.bottom-image .img {
  width: 100%;
}
.bottom-content {
  text-align: center;
}
.bottom-heading {
  padding-top: 32px;
  padding-bottom: 12px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1px;
}
.bottom-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

/*# sourceMappingURL=app.css.map */
